@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
	font-family: "Roboto", serif;
	background-color: #808080;
	height: auto;
	margin: 20px;
	padding: 50px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box-left {
	background-color: #ffffff;
	padding: 20px;
	width: 40%;
	border-radius: 10px;
	margin: 0 20px;
}

h1, p{
	text-align: center;
}

small {
	margin: 30px;
}

a {
	text-decoration: none;
}

input {
	margin: 5px 0;
}

input[type='text'] {
	padding: 5px;
	width: 90%;
}

input[type='email'] {
	padding: 5px;
	width: 90%;
}

input[type='date'] {
	padding: 5px;
	width: 90%;
}

input[type='submit']{
	padding: 5px 20px;
	display: block;
	margin: 10px auto;
	background-color: #007bbf;
	color: #ffffff;
	border: none;
	border-radius: 5px;
}

.box-right {
	width: 50%;
}